<!-- Sidebar -->
<aside class="cell medium-3 small-12">
    <div class="sidebar card ">
      <div class="sidebar__header">
        <h2 class="sidebar__header__title">About us</h2>
      </div>
      <div class="sidebar__content">
          <nav>
            <ul class="menu vertical">
                <li>
                    <a href="#0">Page title one</a>
                    <ul>
                        <li><a href="#0">Sub page one</a></li>
                        <li><a href="#0">Sub page Two</a></li>
                        <li><a href="#0">Sub page Three</a></li>
                    </ul>
                </li>    
                <li><a href="#0" class="">Page title two</a></li>
                <li><a href="#0" class="">Page title three</a></li>
                <li><a href="#0" class="">Page title four</a></li>
            </ul>
          </nav> 
      </div>
    </div>
  </aside>